*{
    color: #2C3531;
    /* rgb(44, 53, 49) */
    color: #116466 ;
    /* rgb(17,100,102); */
    color: #D9B08C ;
    /* rgb(215, 175, 139) */
    color: #FFCB9A ;
    /* rgb(215, 175, 139) */
    color: #D1E8E2 ;
    /* rgb(209, 232, 226) */
}