*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    min-height: 380px;
    line-height: 380px;
    background-color: orange;
}
.main{
    display: flex;
}
.sidebar{
width: 300px;
}
.content{
    background-color: orange;
    width: calc(100% - 300px);
}