*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__img{
    width: 100%;
    position: relative;
}
.header__navbar{
    position: absolute;
    top: 0;
    right: 0;
}
.header__menu-list{
    display: flex;
}
.header__menu-item{

}