/* PC */
@media (min-width: 77.5em) {
    
}
/* Tablet */
@media (max-width: 63.9375em) and (min-width:46.25em) {
    
}
/* Mobile && Tablet */
@media (max-width: 63.9375em) {
    .btn{
        padding:15px 16px;
    }
    #nav .subnav a{
        padding: 6px 12px;
    }
    .contact-form .form-control{
        padding:15px;
        font-size:16px;
    }
    .contact-form-btn{
        font-size: 18px;
    }
    .contact-info{
        line-height: 1.9;
    }
    #footer .copy-right,
    #footer .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }
}
/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
   
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav li a {
        padding: 2px 24px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;

    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 36px;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu{
        display: block;
    }
    #header .search-button {
        display: none;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    .contact-form{
        line-height: 2;
    }
    
}