/* PC */
@media (min-width: 1240px) {
    
}
/* Tablet */
@media (max-width: 1230px) and (min-width:740px) {
    
}
/* Mobile */
@media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu{
        display: block;
    }
    #header .search-button {
        display: none;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
    }
}