* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* hack */
    font-size: 62.5%;
    /* font-size: 100%; mang về biến rem*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}