.header{
    height: 150px;
    background-color: #17B5C0;
}
.header-bar1{

}

.header-bar1-logo{
    margin: 0;
}

.header-bar1-search{

}

.header-bar1-show{

}

.header-bar1-info{

}

.header-bar1-btn{

}
