.header{
    
}
.header-bar1{
    height: 100px;
    background-color: #17B5C0;
    display: flex;
}

.header-bar1-logo{
    margin: auto 0;
    color: #fff;
    font-weight: 300;
}
.header-bar1-show{
    line-height: 100px;
    margin-left: 150px;
    width: 800px;
}

.header-bar1-search{
    padding: 9px 12px;
    width: 350px;
}

.header-bar1-info{
    width: 100%;
    padding: 10px 12px;
    background-color: #fff;
    font-weight: 500;
    
}
.header-bar1-info-icon{
    margin-left: 18px;
    opacity: 300;
}
.header-bar1-btn{
    padding: 4px;
}
