.header{
    
}
.header-bar1{
    height: 100px;
    background-color: #17B5C0;
    display: flex;
}

.header-bar1-logo{
    margin: auto 0;
}
.header-bar1-show{
    margin: auto;
}

.header-bar1-search{

}


.header-bar1-info{

}

.header-bar1-btn{

}
